<!doctype html>
<html ng-app="uniKit" >
<head>
  <meta charset="utf-8">
  <title>Angular</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="./libs/bootstrap.min.css">
  <script src="./libs/angular.js"></script>
  <script src="./libs/jquery.min.js"></script>
  <script src="./libs/underscore-min.js"></script>
  <script src="app.js"></script>
</head>
<body>

  <!--script type='text/template' id="tpl-fieldContent">
    <div id="<%-id%>" class="form-group col-sm-<%-colSpan%> col-md-<%-colSpan%> col-lg-<%-colSpan%>">
    </div> 
  </script>

  <script type='text/template' id="tpl-textInput">
   <div class="col-sm-<%-colSpanControl%> col-md-<%-colSpanControl%> col-lg-<%-colSpanControl%>">
      <input type="text" class="control">
      <span class="tooltip"></span>
   </div>
  </script>

  <script type='text/template' id="tpl-fieldlabel">
      <label class="col-sm-<%-colSpanLabel%>  col-md-<%-colSpanLabel%> col-lg-<%-colSpanLabel%>">
        <span >label</span>
        <span class="required">*</span>
      </label>
  </script>
  <input uni-text type="text"  id="10" placeholder="Nombre"  ng-model="name"/>
  <input uni-text type="text"  id="10" placeholder="Apellido"  ng-model="name"/>
  <input uni-text type="text"  id="10" placeholder="Edad"  ng-model="name"/>
  <input uni-text type="text"  id="10" placeholder="Direccion"  ng-model="name"/-->
<div class="container">
  <h2>Bootstrap Mixed Form <p class="lead">with horizontal and inline fields</p></h2>
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3" for="inputEmail1">Email</label>
      <div class="col-sm-9"><input type="email" class="form-control" id="inputEmail1" placeholder="Email"></div>
      <label class="col-sm-2" for="inputPassword1">Password</label>
      <div class="col-sm-10"><input type="password" class="form-control" id="inputPassword1" placeholder="Password"></div>
      <label class="col-sm-4" for="TextArea">Textarea</label><div class="col-sm-8"><textarea class="form-control" id="TextArea"></textarea></div>
      <label class="col-sm-2">Phone number</label><div class="col-sm-4 input-group"> <span class="input-group-addon">$</span> <input class="form-control" aria-label="Amount (to the nearest dollar)"> <span class="input-group-addon">.00</span> </div>



      <label class="col-sm-2">Phone number</label><div class="col-sm-4"><input type="text" class="form-control" placeholder="000"></div>
      <label class="col-sm-1">Phone number</label><div class="col-sm-2"><input type="text" class="form-control" placeholder="000"></div>
      <label class="col-sm-1">Phone number</label><div class="col-sm-2"><input type="text" class="form-control" placeholder="000"></div>
      <label class="col-sm-1">Phone number</label><div class="col-sm-2"><input type="text" class="form-control" placeholder="1111"></div>
      <label class="col-sm-1">Phone number</label><div class="col-sm-2"><input type="text" class="form-control" placeholder="123"></div>
      <label class="col-sm-1">Phone number</label><div class="col-sm-3"><input type="text" class="form-control" placeholder="000"></div>
      <label class="col-sm-1">Phone number</label><div class="col-sm-3"><input type="text" class="form-control" placeholder="1111"></div>
      <label class="col-sm-1">Phone number</label><div class="col-sm-3"><input type="text" class="form-control" placeholder="123"></div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-info pull-right">Submit</button>
      </div>
    </div>
  </form>
  <hr>
</div>
</body>
</html>