<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8"/>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

		<link rel="stylesheet" href="./libs/bootstrap.min.css">
		<script src="./libs/jquery.min.js"></script>
		<!--script src="./libs/angular.js"></script-->
		<script src="./libs/build.js"></script>
		<script src="./libs/underscore-min.js"></script>		
		<script src="app.js"></script>
	</head>
	<style>
		div .container{
			background-colspanor: yellow;	
		}
	</style>
	<body ng-controller="body">

		<script type='text/template' id="tpl-fieldContent">
			<div id="<%-id%>" class="form-group   col-lg-<%-colspan%>">
			</div> 
  </script>

  <script type='text/template' id="tpl-textInput">
   <div class="col-lg-<%-colspan%> input-group uniControl">
				<span class="input-group-addon">$</span>			
				<input type="text" class="form-control">
				<span class="input-group-addon">00.0</span>
   </div>
  </script>
		
  <script type='text/template' id="tpl-checkbox">
   <div class="col-lg-<%-colspan%> input-group uniControl">
			<label><span><%-text%></span>
				<input type="checkbox" class="form-control">
			</label>
   </div>
  </script>

  <script type='text/template' id="tpl-fieldlabel">
			<label class="control-label col-lg-<%-colspan%>" >
				<span ><%-label%></span >
			</label>
  </script>
		
  <script type='text/template' id="tpl-grid">
			<div class="container form-horizontal row-border colspan-sm-<%-colspan%>  col-lg-<%-colspan%>" root>
			</div>
  </script>
		
  <script type='text/template' id="tpl-panel">
			<div class="panel panel-default colspan-sm-<%-colspan%>  col-lg-<%-colspan%>">
        <div class="panel-heading clearfix" >
          <h3 class="panel-title" >Input Groups</h3>
        </div>
			</div>
  </script>		
		
		<!--div class="container-fluid" uni-aspect='{"colspan":12, "colspans":[1,3], "type":"formPanel"}' id="container1">	
			<label uni-aspect='{"colspan":2}'>label1</label><input uni-aspect='{"colspan":2}' type="text" placeholder="input1">
			<label uni-aspect='{"colspan":2}'>label2</label><input uni-aspect='{"colspan":2}' type="text" placeholder="input2">
			<label uni-aspect='{"colspan":2}'>label3</label><input uni-aspect='{"colspan":2}' type="text" placeholder="input3">
			<br>
			<label uni-aspect='{"colspan":2}'>label4</label><input uni-aspect='{"colspan":2}' type="text" placeholder="input1">
			<label uni-aspect='{"colspan":2}'>label5</label><input uni-aspect='{"colspan":2}' type="text" placeholder="input2">
			<label uni-aspect='{"colspan":2}'>label6 </label><input uni-aspect='{"colspan":2}' type="text" placeholder="input3">
		</div-->
		<div uni-aspect='{"colspan":12, "cols":[1,3,1,3,1,3], "type":"grid"}' id="container1" root=true >
			<input type="checkbox">
			<label><input type="checkgroup">label4</label><input ng-model="pivot.nombre" type="text" placeholder="input1">
			<label >label5</label><input  ng-model="pivot.nombre" type="text" placeholder="input2">
			<label >label6 </label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">
			<br>
			<label >label1</label><input  type="text" input ng-model="pivot.nombre" placeholder="input4">
			<label >label2</label><input  type="text" input ng-model="pivot.nombre" placeholder="input5">
			<label >label3</label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">
			<br>
			<label >label4</label><input  type="text" input ng-model="pivot.nombre" placeholder="input1">
			<label >label5</label><input  type="text" input ng-model="pivot.nombre" placeholder="input2">
			<label >label6 </label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">
			<br>
			<!--div uni-aspect='{"colspan":6, "cols":[3,3,3,3], "type":"panel"}'>
			
				<label >label1</label><input  type="text" input ng-model="pivot.nombre" placeholder="input1">
				<label >label2</label><input  type="text" input ng-model="pivot.nombre" placeholder="input2">
				<label >label3</label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">
				<label >label4/*/*/*/*/*</label><span><input  type="checkbox" placeholder="input1"><input  type="text" input ng-model="pivot.nombre" placeholder="input1"></span>				
			</div>
			<div uni-aspect='{"colspan":6, "cols":[3,3,3,3], "type":"panel"}'>
					<label >label1</label><input  type="text" input ng-model="pivot.nombre" placeholder="input1">
					<label >label2</label><input  type="text" input ng-model="pivot.nombre" placeholder="input2">
					<br >
					<label >label3</label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">
					<label >label4</label><input  type="text" input ng-model="pivot.nombre" placeholder="input1">
					<br >
					<label >label1</label><input  type="text" input ng-model="pivot.nombre" placeholder="input1">
					<label >label2</label><input  type="text" input ng-model="pivot.nombre" placeholder="input2">
					<br >
					<label >label3</label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">
					<label >label4</label><input  type="text" input ng-model="pivot.nombre" placeholder="input1">
			</div-->
			<label >label1</label><input  type="text" input ng-model="pivot.nombre" placeholder="input1">
			<label >label2</label><input  type="text" input ng-model="pivot.nombre" placeholder="input2">
			<label >label3</label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">
			<br>
			<label >label4</label><input  type="text" input ng-model="pivot.nombre" placeholder="input1">
			<label >label5</label><input  type="text" input ng-model="pivot.nombre" placeholder="input2">
			<label >label6 </label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">
			<br>
			<label >label5</label><input  type="text" input ng-model="pivot.nombre" placeholder="input2">
			<label >adwadaa  wdawaww </label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">	
			<label >adwad  awdawaww </label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">	
			<br>
			<label >adwad  wdawaww </label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">	
			<label >adwad  awdawaww </label><input  type="text" input ng-model="pivot.nombre" placeholder="input3">	
		</div>
		
		<pre>{{pivot| json}}</pre>
	</body>
